doctype html
html
  head
    title How much to make an app
    link(rel="stylesheet", type="text/css", href="css/application.css")
  body
    script(type="text/javascript", src="js/vendor.js")
    script(type="text/javascript", src="js/templates.js")
    script(type="text/javascript", src="js/app.js")